link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')

head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(href='../../css/resetpassword.css' rel='stylesheet')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

body#LoginForm 
  .container.d-flex.justify-content-center.align-items-center.vh-100
    .bg-white.text-center.p-5.mt-3.center
      .main-div 
        .panel 
          if info && info.message
            .alert.alert-danger 
              = info.message
        h3 Recuperacion de Password 
        p Por favor, ingrese su email y le enviaremos a esa cuenta las instrucciones de reseteo de password.
      form#Login.pb-3(action='/forgotPassword' method='post')
        .form-group
          input#email.form-control(type='email' placeholder='Email Address' name='email')
        button.btn(type='submit') Resetear Password