extends ../layout 

block content 
  a(href='/usuarios') volver 

  br
  br
  br

  h1 Actualizando Usuario 

  br
  br

  form(action=`/usuarios/${usuario.id}/update` method='post')
    .form-group 
        label(for='nombre') Nombre:
        input#nombre.form-control(type='text' name='nombre' value= usuario.nombre class= errors.nombre)
        if errors.nombre 
            small#nombrehelp.text-danger 
                = errors.nombre.message
    .form-group 
        label(for='email') Email:
        input#nombre.form-control(type='text' name='email' value= usuario.email class= errors.email)
        if errors.email  
            small#emailhelp.text-danger 
                = errors.email.message
    br
    br
    input.btn.btn-primary(type='submit' value='ok')