extends ../layout

block content 
  a(href='/empleados') volver 

  br
  br
  br

  h1 Nuevo Empleado 

  br
  br

  form(action='/empleados/create' method='post')
    label(for='id') ID: 
    input#id(type='text' name='id')
    br
    label(for='cedula') Cedula: 
    input#cedula(type='text' name='cedula')
    br 
    label(for='nombre') Nombre: 
    input#nombre(type='text' name='nombre')
    br
    label(for='apellido') Apellido: 
    input#apellido(type='text' name='apellido')
    br
    label(for='cargo') Cargo: 
    input#cargo(type='text' name='cargo')
    br
    label(for='departamento') Departamento: 
    input#departamento(type='text' name='departamento')
    br
    label(for='ingreso') Ingreso: 
    input#ingreso(type='text' name='ingreso')
    br
    label(for='status') Status: 
    input#status(type='text' name='status')
    br
    br
    input.btn(type='submit' value='OK')       